src/main/resources/soap/sbcapi/v05_00_00/SBCV050000APIService_schema343.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="carrier.global.v05_00_00.sbc.api.ems.sonus.com" xmlns:ns2="v05_00_00.sbc.api.ems.sonus.com" xmlns:ns1="common.sbc.api.ems.sonus.com" xmlns:ns3="global.v05_00_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema326.xsd"/>

  <xs:import namespace="v05_00_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema7.xsd"/>

  <xs:import namespace="global.v05_00_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema272.xsd"/>

  <xs:complexType name="services">
    <xs:complexContent>
      <xs:extension base="ns1:sbcEntity">
        <xs:sequence>
          <xs:element name="classOfService" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="servicesKey">
    <xs:complexContent>
      <xs:extension base="ns1:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns3:carrierKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

