src/main/resources/soap/sbcapi/v05_00_00/SBCV050000APIService_schema307.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="digitstringmanipulation.digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_00_00.sbc.api.ems.sonus.com" xmlns:ns2="common.sbc.api.ems.sonus.com" xmlns:ns1="sonusdmpmrule.types.v05_00_00.sbc.api.ems.sonus.com" xmlns:ns4="digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_00_00.sbc.api.ems.sonus.com" xmlns:ns3="subrule.dmpmrule.digitparameterhandling.profiles.v05_00_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="sonusdmpmrule.types.v05_00_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema116.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema326.xsd"/>

  <xs:import namespace="subrule.dmpmrule.digitparameterhandling.profiles.v05_00_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema33.xsd"/>

  <xs:import namespace="digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_00_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050000APIService_schema311.xsd"/>

  <xs:complexType name="replacement">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="type" type="ns1:sonusTypeRange" default="variable" minOccurs="0"/>
          <xs:element name="digitString" type="ns1:sonusCommonTypeRange" default="billingNumber" minOccurs="0"/>
          <xs:element name="startDigitPosition" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="numberOfDigits" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="replacementKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:digitStringManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

