src/main/resources/soap/sbcapi/v05_01_00/SBCV050100APIService_schema125.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="sonusdiamsigcontrols.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="sonusDiamSigControlsEnableRfAppType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="disabled"/>
      <xs:enumeration value="enabled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sonusDiamSigControlsGenerateFailedEventAcrType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="disabled"/>
      <xs:enumeration value="enabled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sonusDiamSigControlsAddSonusSpecificAVPType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="disabled"/>
      <xs:enumeration value="enabled"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

