src/main/resources/soap/sbcapi/v05_01_00/SBCV050100APIService_schema177.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns14="dns.servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns9="e911vpcdevice.servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="sonusenum.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns5="global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns13="enumservice.servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns6="enumdomainnamelabel.servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns10="sonuse911.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns7="sonusdnszone.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns11="e911.servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns8="enumdomainname.servers.global.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns2="sonustc.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns1="sonusdnszonelabel.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns4="v05_01_00.sbc.api.ems.sonus.com" xmlns:ns3="common.sbc.api.ems.sonus.com" xmlns:tns="servers.global.v05_01_00.sbc.api.ems.sonus.com">

  <xs:import namespace="sonusdnszonelabel.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema120.xsd"/>

  <xs:import namespace="sonustc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema44.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema360.xsd"/>

  <xs:import namespace="v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema7.xsd"/>

  <xs:import namespace="global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema295.xsd"/>

  <xs:import namespace="enumdomainnamelabel.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema311.xsd"/>

  <xs:import namespace="sonusdnszone.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema121.xsd"/>

  <xs:import namespace="enumdomainname.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema312.xsd"/>

  <xs:import namespace="e911vpcdevice.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema321.xsd"/>

  <xs:import namespace="sonuse911.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema117.xsd"/>

  <xs:import namespace="e911.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema322.xsd"/>

  <xs:import namespace="sonusenum.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema114.xsd"/>

  <xs:import namespace="enumservice.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema310.xsd"/>

  <xs:import namespace="dns.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema331.xsd"/>

  <xs:complexType name="lwresdProfile">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="enumDomainNameLabel" type="ns1:sonusDnsZoneLabelName" minOccurs="0"/>
          <xs:element name="enableLwresdLog" type="ns2:sonusEnableDisable" default="disable" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="lwresdProfileKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcKey">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="lwresdProfileListWrapper">
    <xs:complexContent>
      <xs:extension base="ns3:sbcListWrapper">
        <xs:sequence>
          <xs:element name="lwresdProfile" type="tns:lwresdProfile" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumDomainNameLabel">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="enumDomainLabelName" type="ns1:sonusDnsZoneLabelName" minOccurs="0"/>
          <xs:element name="enumDomainNameId" type="ns6:enumDomainNameId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumDomainNameLabelKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcKey">
        <xs:sequence>
          <xs:element name="enumDomainLabelName" type="ns1:sonusDnsZoneLabelName" minOccurs="0"/>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumDomainNameLabelListWrapper">
    <xs:complexContent>
      <xs:extension base="ns3:sbcListWrapper">
        <xs:sequence>
          <xs:element name="enumDomainNameLabel" type="tns:enumDomainNameLabel" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumDomainName">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="zoneId" type="xs:string" minOccurs="0"/>
          <xs:element name="zoneType" type="ns7:sonusZoneType" default="individual" minOccurs="0"/>
          <xs:element name="loadDistribution" type="ns7:sonusLoadDistribution" default="sequence" minOccurs="0"/>
          <xs:element name="queryRetryTimer" type="xs:unsignedInt" default="4000" minOccurs="0"/>
          <xs:element name="forwardersData" type="ns8:forwardersData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumDomainNameKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcKey">
        <xs:sequence>
          <xs:element name="zoneId" type="xs:string" minOccurs="0"/>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumDomainNameListWrapper">
    <xs:complexContent>
      <xs:extension base="ns3:sbcListWrapper">
        <xs:sequence>
          <xs:element name="enumDomainName" type="tns:enumDomainName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="e911VpcDevice">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="deviceData" type="ns9:deviceData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="e911VpcDeviceKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcKey">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="e911VpcDeviceListWrapper">
    <xs:complexContent>
      <xs:extension base="ns3:sbcListWrapper">
        <xs:sequence>
          <xs:element name="e911VpcDevice" type="tns:e911VpcDevice" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="e911">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="name" type="ns10:sonusE911Name" minOccurs="0"/>
          <xs:element name="defaultTreatment" type="ns10:sonusScpTriggerTreatment" default="routeAsDialed" minOccurs="0"/>
          <xs:element name="requestTimeOut" type="xs:unsignedInt" default="4000" minOccurs="0"/>
          <xs:element name="routePrecedence" type="ns10:sonusRoutePrecedence" default="lro" minOccurs="0"/>
          <xs:element name="vpcDevice" type="xs:string" minOccurs="0"/>
          <xs:element name="criteria" type="ns11:criteria" minOccurs="0"/>
          <xs:element name="flags" type="ns11:flags" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="e911Key">
    <xs:complexContent>
      <xs:extension base="ns3:sbcKey">
        <xs:sequence>
          <xs:element name="name" type="ns10:sonusE911Name" minOccurs="0"/>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="e911ListWrapper">
    <xs:complexContent>
      <xs:extension base="ns3:sbcListWrapper">
        <xs:sequence>
          <xs:element name="e911" type="tns:e911" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumService">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="defaultTreatment" type="ns12:sonusScpTriggerTreatment" default="routeAsDialed" minOccurs="0"/>
          <xs:element name="serviceType" type="ns12:sonusServiceType" default="sipAor" minOccurs="0"/>
          <xs:element name="requestTimeOut" type="xs:unsignedInt" default="2000" minOccurs="0"/>
          <xs:element name="priority" type="xs:unsignedInt" default="129" minOccurs="0"/>
          <xs:element name="criteria" type="ns13:criteria" minOccurs="0"/>
          <xs:element name="flags" type="ns13:flags" minOccurs="0"/>
          <xs:element name="enumDefinitions" type="ns13:enumDefinitions" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumServiceKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcKey">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumServiceListWrapper">
    <xs:complexContent>
      <xs:extension base="ns3:sbcListWrapper">
        <xs:sequence>
          <xs:element name="enumService" type="tns:enumService" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dns">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="global" type="ns14:global" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dnsKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns5:serversKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

