src/main/resources/soap/sbcapi/v05_01_00/SBCV050100APIService_schema212.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="querypsxonnextrefreshregister.operation.cmds.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns2="siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns1="zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns3="common.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema1.xsd"/>

  <xs:import namespace="siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema146.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema360.xsd"/>

  <xs:complexType name="queryPsxOnNextRefreshRegisterKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcOperationKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns2:cmdsKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="output">
    <xs:complexContent>
      <xs:extension base="ns3:sbcOperationOutput">
        <xs:sequence>
          <xs:element name="result" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="queryPsxOnNextRefreshRegister">
    <xs:complexContent>
      <xs:extension base="ns3:sbcOperationInput">
        <xs:sequence>
          <xs:element name="overRideInternalExpires" type="xs:string" default="enable" minOccurs="0"/>
          <xs:element name="newRegistrarIndex" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="registrarIpAddress" type="xs:string" default="0.0.0.0" minOccurs="0"/>
          <xs:element name="registrarFqdn" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

