src/main/resources/soap/sbcapi/v05_01_00/SBCV050100APIService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://www.sonus.com/ems/api/sbc/v05_01_00" name="SBC_v05_01_00_APIService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://www.sonus.com/ems/api/sbc/v05_01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="zeroizepersistenkeys.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="xheaderprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="x_headerextensions.xheaderprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="x_header_default_value.xheaderprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema5.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="variable.criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema6.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema7.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="userinfomanipulation.uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema8.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="userinfo.uricriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema9.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema10.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="uriinfo.message.action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema11.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="uricriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema12.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="uploadcertificate.operation.pki.security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema13.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="updatettl.operation.dnsgroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema14.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ukisup.egress.signalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema15.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="traps.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema16.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="transparencyprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema17.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="toneprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema18.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="tonepackage.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema19.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="toneandannouncementprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema20.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="token.criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema21.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="to.action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema22.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="timers.signaling.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema23.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="timerangeprofile.callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema24.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="testprofile.operation.cmds.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema25.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="terminatecall.operation.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema26.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="t38.packetserviceprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema27.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema28.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="system.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema29.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="switchover.operation.packetadmin.ethernetport.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema30.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="switchover.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema31.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="switchback.operation.remoteserver.policyserver.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema32.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="surrogateregistrationprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema33.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="subscriber.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema34.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema35.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="stoprecord.operation.siprec.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema36.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="statreset.operation.mtrmconnport.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema37.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="startsoftwareupgrade.operation.serveradmin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema38.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="startrecord.operation.siprec.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema39.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuszone.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema40.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonustoneandanncprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema41.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonustlsprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema42.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonustimerangeprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema43.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonustc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema44.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussystem.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema45.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussurrogateregistrationprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema46.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussnmp.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema47.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussiptrunkgroup.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema48.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussiptransparencyprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema49.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussiptocpccausemapprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema50.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipsub.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema51.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipsigport.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema52.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipsigcontrols.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema53.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipsecurityprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema54.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipreg.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema55.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipparamfilterprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema56.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipinternalcausemapprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema57.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussipcacprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema58.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussiparsprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema59.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussignalingprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema60.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonussharedcacpool.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema61.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusroutinglabel.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema62.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusroute.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema63.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusrelayport.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema64.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusprefixprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema65.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusport.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema66.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuspolicyserver.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema67.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuspathchkprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema68.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuspacketserviceprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema69.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusorcatc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema70.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusorca.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema71.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusnumbertranslationcriteria.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema72.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusnumberglobalizeprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema73.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusmtrgserver.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema74.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusmonitor.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema75.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusmgmtipinterface.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema76.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusmastertrunkgroupconnport.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema77.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuslvm.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema78.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusli.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema79.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusjsrcserver.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema80.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusisupsignalingprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema81.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusipsignalingprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema82.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusipsignalingpeergroup.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema83.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusipsecprofiles.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema84.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusipsec.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema85.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusiproute.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema86.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusippeer.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema87.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusipinterface.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema88.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusipacl.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema89.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonushornettc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema90.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusholiday.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema91.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonush323trunkgroup.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema92.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonush323sigport.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema93.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgwtrunkgroup.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema94.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgwsigport.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema95.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusglobaltrunkgroup.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema96.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2sipjip.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema97.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2sipemergency.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema98.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2sipadaptor.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema99.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2security.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema100.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2radius.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema101.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2profiles.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema102.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2ntp.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema103.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2nrmtone.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema104.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2nrmdisctreat.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema105.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2nrmdigits.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema106.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2nrmcrankback.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema107.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2nrmcongestion.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema108.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2nrmcalltrace.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema109.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2ipm.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema110.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusgen2eventlog.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema111.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusfiltersipsrc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema112.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusext.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema113.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusenum.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema114.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusematlsprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema115.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusema.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema116.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuse911.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema117.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuse164profile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema118.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdtlsprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema119.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdnszonelabel.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema120.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdnszone.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema121.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdns.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema122.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdmpmrule.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema123.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdmpmcriteria.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema124.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdiamsigcontrols.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema125.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdiameter.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema126.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdblprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema127.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusdbl.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema128.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscryptosuiteprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema129.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscpctosipcausemapprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema130.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscodecroutingpriority.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema131.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscodeclistprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema132.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscodecentry.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema133.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscdrserver.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema134.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonuscacdatatypes.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema135.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusatprofile.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema136.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusannouncements.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema137.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusalarmmgr.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema138.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusactivecall.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema139.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sonusaccounting.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema140.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="softreset.operation.serveradmin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema141.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="softreset.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema142.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="snmpv2_tc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema143.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="snmp_framework_mib.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema144.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="snmp.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema145.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema146.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="siptocpccausemapprofile.sipcausecodemapping.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema147.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipsubscriptiondelete.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema148.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipsubcountreset.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema149.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipsigportresetall.operation.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema150.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipsigconnresetall.operation.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema151.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipsecurityprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema152.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipresourcepriorityheaderprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema153.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipregistrationdeletebyip.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema154.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipregistrationdeletebyid.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema155.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipregistrationadaptivenatlearning.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema156.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipregcountreset.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema157.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipparamfilterprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema158.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipheadersandparameters.egressipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema159.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipheader.sipparamfilterprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema160.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipcausecodemapping.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema161.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipcacprofile.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema162.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="siparsendpointrecoverybyip.operation.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema163.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="siparsendpointrecoveryall.operation.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema164.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema165.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="signalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema166.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="signalingpacketcapture.calltrace.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema167.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="signaling.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema168.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema169.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="signaling.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema170.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sharedcaclimitspool.cac.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema171.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sethaconfig.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema172.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="set.operation.users.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema173.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="services.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema174.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema175.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="services.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema176.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema177.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema178.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="security.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema179.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="security.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema180.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="securertprtcp.packetserviceprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema181.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sdpcontent.to.action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema182.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="sdpcontent.from.action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema183.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="saveconfig.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema184.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="rule_list.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema185.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema186.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="rtpservertable.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema187.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="routinglabel.callrouting.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema188.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="rolloverlognow.operation.typeadmin.eventlog.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema189.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="retrievecertcontent.operation.certificate.pki.security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema190.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="restart.operation.serveradmin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema191.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="restart.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema192.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="resetstats.operation.filterstatus.eventlog.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema193.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="resetpassword.operation.users.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema194.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="resetoffenderslist.operation.ippolicing.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema195.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="resetippolicingalarmstatus.operation.alarms.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema196.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="resetcdrserverstats.operation.admin.cdrserver.accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema197.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="reset.operation.mtrmconnport.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema198.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="removesavedconfig.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema199.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="removeentry.operation.dynamicblacklist.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema200.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="removecoredump.operation.serveradmin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema201.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="remoteadminstate.operation.pathcheck.ippeer.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema202.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="relayprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema203.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="rekeyconfdencryptionkeys.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema204.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="regeneratesshrsakeys.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema205.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="redirectioncapabilityflags.egress.signalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema206.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="redirect.egressipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema207.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="reason.crankbackprofile.callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema208.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="realm.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema209.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="radiusauthentication.radius.accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema210.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="radius.accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema211.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="querypsxonnextrefreshregister.operation.cmds.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema212.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="query.operation.dnsgroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema213.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="qoe.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema214.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="qoe.sipcacprofile.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema215.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="qoe.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema216.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema217.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="privacy.egressipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema218.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="prefixtype.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema219.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="prefixprofile.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema220.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="policyserver.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema221.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="policyserver.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema222.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="policy.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema223.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="policy.ippeer.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema224.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="policy.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema225.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="policer.congestion.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema226.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="pki.security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema227.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="peer.ipsec.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema228.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="pathcheckprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema229.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema230.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema231.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="parameter.criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema232.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="paicharactermatch.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema233.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="packettopacketcontrol.packetserviceprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema234.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="packetserviceprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema235.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="p_headerextensions.xheaderprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema236.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="overloadprofile.system.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema237.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="optionsping.operation.cmds.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema238.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="operation.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema239.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema240.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="numberingplan.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema241.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="numberglobalizationprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema242.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ntp.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema243.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="networkprocessorstatistics.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema244.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="nattraversal.services.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema245.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="natdirectmediagroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema246.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="monitorendpoint.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema247.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="mgmtipinterfacegroup.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema248.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="messagebody.criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema249.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="message.action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema250.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="mediationserver.calldatachannel.intercept.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema251.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="media.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema252.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="media.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema253.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema254.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="media.mediationserver.calldatachannel.intercept.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema255.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="media.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema256.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="media.gwtrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema257.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="localringbacktone.toneandannouncementprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema258.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="localrecord.dnsgroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema259.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema260.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="localadminstate.operation.pathcheck.ippeer.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema261.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="loadconfig.operation.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema262.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="linkdetectiongroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema263.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="lengths.numberingplan.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema264.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="jsrcserver.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema265.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema266.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipsignalingpeergroup.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema267.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipsecsadelete.operation.ipsec.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema268.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipsecprotectionprofile.security.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema269.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipsec.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema270.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ippolicing.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema271.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ippeer.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema272.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipinterfacegroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema273.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipinterface.ipinterfacegroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema274.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ipaccesscontrollist.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema275.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="internalsipcausemapprofile.sipcausecodemapping.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema276.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="intercept.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema277.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ingressipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema278.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ingress.signalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema279.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ingress.policy.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema280.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ingress.policy.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema281.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="includeatcf_.atprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema282.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="importcert.operation.certificate.pki.security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema283.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ikesadeleteall.operation.ipsec.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema284.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ikesadelete.operation.ipsec.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema285.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ikeprotectionprofile.security.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema286.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ietf_netconf_acm.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema287.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.sonus.com/ems/api/sbc/v05_01_00" schemaLocation="SBCV050100APIService_schema288.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="hostportmanipulation.uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema289.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="history.operation.clear.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema290.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="header.criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema291.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema292.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="gwtrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema293.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="globalvariable.criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema294.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema295.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="generatesipheaderencryptionkeys.operation.security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema296.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="generatecsr.operation.certificate.pki.security.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema297.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="fromdisplayname.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema298.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="from.action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema299.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="fqdnentry.filtersipsrc.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema300.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="forwardcallindicator.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema301.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="forwardcallindicator.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema302.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="forcednsquery.operation.fqdnentry.filtersipsrc.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema303.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="forcecurrentserver.operation.admin.cdrserver.accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema304.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="forcecoredump.operation.serveradmin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema305.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="filtersipsrc.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema306.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="featurecontrolprofile.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema307.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="eventlog.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema308.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ethernetport.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema309.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="enumservice.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema310.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="enumdomainnamelabel.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema311.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="enumdomainname.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema312.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="entry.timerangeprofile.callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema313.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="entry.cryptosuiteprofile.security.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema314.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="enable.operation.userstatus.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema315.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="emergencycallprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema316.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="ematlsprofile.security.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema317.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="elementroutingpriority.callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema318.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="egressipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema319.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="egress.signalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema320.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="e911vpcdevice.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema321.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="e911.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema322.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dynamicblacklist.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema323.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dtls.packetserviceprofile.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema324.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dspstatus.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema325.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dspres.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema326.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dspadmin.traps.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema327.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dnsserverreset.operation.dnsgroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema328.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dnsgroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema329.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dnsclearcache.operation.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema330.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dns.servers.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema331.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema332.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema333.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="disconnecttreatmentprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema334.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="disconnectsignalsequenceprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema335.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="disablebygcid.operation.mediacapture.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema336.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="disable.operation.userstatus.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema337.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="digitstringmanipulation.digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema338.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="digitprofile.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema339.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema340.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="digitmatch.digitcriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema341.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema342.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="digitcriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema343.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="diamnode.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema344.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="deleterelayporttransid.operation.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema345.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="delete.operation.users.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema346.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="dblprofile.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema347.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="daymatching.entry.timerangeprofile.callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema348.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="current.operation.clear.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema349.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="current.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema350.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cryptosuiteprofile.security.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema351.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="criterion.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema352.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="criteria_.includeatcf_.atprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema353.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="crankbackprofile.callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema354.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cpctosipcausemapprofile.sipcausecodemapping.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema355.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cpc.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema356.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="country.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema357.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="congestion.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema358.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="commonipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema359.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema360.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="codecroutingpriority.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema361.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="codecentry.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema362.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cliblockingindicator.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema363.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="clearstats.operation.adaptivelearning.nattraversal.services.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema364.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="clearinfolevelloggingdisabled.operation.infolevelloggingenable.eventlog.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema365.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="clearcache.operation.dnsgroup.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema366.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="clear.operation.packetoutage.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema367.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="classofservice.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema368.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="charactermatch.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema369.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="charactermanipulation.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema370.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="changepassword.operation.users.localauth.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema371.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cdrserver.accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema372.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="causeofnoid.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema373.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="carrierselectionparameter.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema374.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="carriercodedigitmatch.carriercode.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema375.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="carriercode.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema376.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="carriercode.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema377.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="carrier.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema378.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="calltrace.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema379.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callrouting.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema380.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callrouting.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema381.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callreservation.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema382.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callreservation.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema383.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callreservation.gwtrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema384.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callingname.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema385.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callforwarding.sipheadersandparameters.egressipattributes.ipsignalingprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema386.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callfilter.calltrace.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema387.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callfailuretrap.dspadmin.traps.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema388.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="calldatachannel.intercept.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema389.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="callcountreset.operation.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema390.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cac.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema391.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cac.siptrunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema392.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cac.h323trunkgroup.zone.addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema393.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="cac.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema394.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="blocking.classofservice.services.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema395.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="atprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema396.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="announcements.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema397.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="announcementpackage.media.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema398.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema399.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarms.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema400.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarmlist.operation.state.current.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema401.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarmlist.operation.comment.current.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema402.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarmlist.operation.clear.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema403.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarm.operation.state.current.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema404.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="alarm.operation.comment.current.alarms.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema405.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema406.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="admin.accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema407.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="addresscontext.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema408.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="additionalcategory.parametercriteria.dmpmcriteria.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema409.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="action.rule.sipadaptorprofile.signaling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema410.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="action.operation.calltrace.global.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema411.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="accountmanagement.admin.system.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema412.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="accounting.oam.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema413.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns1:sbcKey" xmlns:ns1="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="deleteResponse"/>
  <message name="APIAccessException">
    <part name="fault" element="tns:ApiAccessException"/>
  </message>
  <message name="ProvApiException">
    <part name="fault" element="tns:ProvApiException"/>
  </message>
  <message name="create">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns2:sbcKey" xmlns:ns2="common.sbc.api.ems.sonus.com"/>
    <part name="payload" type="ns3:sbcEntity" xmlns:ns3="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="createResponse"/>
  <message name="update">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns4:sbcKey" xmlns:ns4="common.sbc.api.ems.sonus.com"/>
    <part name="payload" type="ns5:sbcEntity" xmlns:ns5="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="updateResponse"/>
  <message name="retrieve">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns6:sbcKey" xmlns:ns6="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="retrieveResponse">
    <part name="SbcEntity" type="ns7:sbcPayload" xmlns:ns7="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="partialRetrieve">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns8:sbcKey" xmlns:ns8="common.sbc.api.ems.sonus.com"/>
    <part name="filter" type="ns9:sbcFilter" xmlns:ns9="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="partialRetrieveResponse">
    <part name="SbcEntity" type="ns10:sbcPayload" xmlns:ns10="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="retrieveWithFilterString">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns11:sbcKey" xmlns:ns11="common.sbc.api.ems.sonus.com"/>
    <part name="filter" type="xsd:string"/>
  </message>
  <message name="retrieveWithFilterStringResponse">
    <part name="SbcEntity" type="ns12:sbcPayload" xmlns:ns12="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="doAction">
    <part name="sbcName" type="xsd:string"/>
    <part name="target" type="ns13:sbcOperationKey" xmlns:ns13="common.sbc.api.ems.sonus.com"/>
    <part name="operationInput" type="ns14:sbcOperationInput" xmlns:ns14="common.sbc.api.ems.sonus.com"/>
  </message>
  <message name="doActionResponse">
    <part name="return" type="ns15:sbcOperationOutput" xmlns:ns15="common.sbc.api.ems.sonus.com"/>
  </message>
  <portType name="SBC_v05_01_00_API">
    <operation name="delete" parameterOrder="sbcName target">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/deleteResponse" message="tns:deleteResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/delete/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/delete/Fault/ProvApiException"/>
    </operation>
    <operation name="create" parameterOrder="sbcName target payload">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/createRequest" message="tns:create"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/createResponse" message="tns:createResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/create/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/create/Fault/ProvApiException"/>
    </operation>
    <operation name="update" parameterOrder="sbcName target payload">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/updateRequest" message="tns:update"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/updateResponse" message="tns:updateResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/update/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/update/Fault/ProvApiException"/>
    </operation>
    <operation name="retrieve" parameterOrder="sbcName target">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieveRequest" message="tns:retrieve"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieveResponse" message="tns:retrieveResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieve/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieve/Fault/ProvApiException"/>
    </operation>
    <operation name="partialRetrieve" parameterOrder="sbcName target filter">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/partialRetrieveRequest" message="tns:partialRetrieve"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/partialRetrieveResponse" message="tns:partialRetrieveResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/partialRetrieve/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/partialRetrieve/Fault/ProvApiException"/>
    </operation>
    <operation name="retrieveWithFilterString" parameterOrder="sbcName target filter">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieveWithFilterStringRequest" message="tns:retrieveWithFilterString"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieveWithFilterStringResponse" message="tns:retrieveWithFilterStringResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieveWithFilterString/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/retrieveWithFilterString/Fault/ProvApiException"/>
    </operation>
    <operation name="doAction" parameterOrder="sbcName target operationInput">
      <input wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/doActionRequest" message="tns:doAction"/>
      <output wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/doActionResponse" message="tns:doActionResponse"/>
      <fault message="tns:APIAccessException" name="APIAccessException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/doAction/Fault/APIAccessException"/>
      <fault message="tns:ProvApiException" name="ProvApiException" wsam:Action="http://www.sonus.com/ems/api/sbc/v05_01_00/SBC_v05_01_00_API/doAction/Fault/ProvApiException"/>
    </operation>
  </portType>
  <binding name="SBC_v05_01_00_APIPortBinding" type="tns:SBC_v05_01_00_API">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
    <operation name="retrieve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
    <operation name="partialRetrieve">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
    <operation name="retrieveWithFilterString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
    <operation name="doAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.sonus.com/ems/api/sbc/v05_01_00"/>
      </output>
      <fault name="APIAccessException">
        <soap:fault name="APIAccessException" use="literal"/>
      </fault>
      <fault name="ProvApiException">
        <soap:fault name="ProvApiException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SBC_v05_01_00_APIService">
    <port name="SBC_v05_01_00_APIPort" binding="tns:SBC_v05_01_00_APIPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

