src/main/resources/soap/sbcapi/v05_01_00/SBCV050100APIService_schema132.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="sonuscodeclistprofile.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="SonusPrecedenceListUnion">
    <xs:sequence>
      <xs:element name="string130" type="xs:string" minOccurs="0"/>
      <xs:element name="string131" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

