src/main/resources/soap/sbcapi/v05_01_00/SBCV050100APIService_schema35.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns14="hostportmanipulation.uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns9="carriercode.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns5="common.sbc.api.ems.sonus.com" xmlns:ns13="userinfomanipulation.uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns6="digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns10="forwardcallindicator.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns7="dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns11="charactermanipulation.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns8="parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns2="sonusorcatc.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns1="sonusdmpmrule.types.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns4="digitstringmanipulation.digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" xmlns:ns3="digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com">

  <xs:import namespace="sonusdmpmrule.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema123.xsd"/>

  <xs:import namespace="sonusorcatc.types.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema70.xsd"/>

  <xs:import namespace="digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema342.xsd"/>

  <xs:import namespace="digitstringmanipulation.digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema338.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema360.xsd"/>

  <xs:import namespace="digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema340.xsd"/>

  <xs:import namespace="dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema332.xsd"/>

  <xs:import namespace="parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema230.xsd"/>

  <xs:import namespace="carriercode.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema376.xsd"/>

  <xs:import namespace="forwardcallindicator.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema301.xsd"/>

  <xs:import namespace="charactermanipulation.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema370.xsd"/>

  <xs:import namespace="uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema10.xsd"/>

  <xs:import namespace="userinfomanipulation.uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema8.xsd"/>

  <xs:import namespace="hostportmanipulation.uriparametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v05_01_00.sbc.api.ems.sonus.com" schemaLocation="SBCV050100APIService_schema289.xsd"/>

  <xs:complexType name="digitManipulation">
    <xs:complexContent>
      <xs:extension base="ns5:sbcEntity">
        <xs:sequence>
          <xs:element name="numberTypeBits" type="ns1:SonusDigitTypeBitMaskBits" minOccurs="0"/>
          <xs:element name="numberType" type="xs:string" default="callingNumber" minOccurs="0"/>
          <xs:element name="numberParameterManipulation" type="ns3:numberParameterManipulation" minOccurs="0"/>
          <xs:element name="digitStringManipulation" type="ns3:digitStringManipulation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="digitManipulationKey">
    <xs:complexContent>
      <xs:extension base="ns5:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns7:subRuleKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="parameterManipulation">
    <xs:complexContent>
      <xs:extension base="ns5:sbcEntity">
        <xs:sequence>
          <xs:element name="parameterType" type="ns1:sonusParameterTypeRange" default="additionalCategory" minOccurs="0"/>
          <xs:element name="originatingLineInformation" type="ns2:sonusOriginatingLineInformationRange" default="aiod" minOccurs="0"/>
          <xs:element name="originatingChargeArea" type="xs:string" minOccurs="0"/>
          <xs:element name="presentation" type="ns1:sonusPresentationRange" default="none" minOccurs="0"/>
          <xs:element name="availability" type="ns1:sonusAvailabilityRange" default="none" minOccurs="0"/>
          <xs:element name="zzCode" type="xs:string" minOccurs="0"/>
          <xs:element name="additionalCategory" type="ns8:additionalCategory" minOccurs="0"/>
          <xs:element name="callingName" type="ns8:callingName" minOccurs="0"/>
          <xs:element name="carrierCode" type="ns8:carrierCode" minOccurs="0"/>
          <xs:element name="carrierSelectionParameter" type="ns8:carrierSelectionParameter" minOccurs="0"/>
          <xs:element name="causeOfNoId" type="ns8:causeOfNoId" minOccurs="0"/>
          <xs:element name="flags" type="ns8:flags" minOccurs="0"/>
          <xs:element name="cpc" type="ns8:cpc" minOccurs="0"/>
          <xs:element name="forwardCallIndicator" type="ns8:forwardCallIndicator" minOccurs="0"/>
          <xs:element name="characterManipulation" type="ns8:characterManipulation" minOccurs="0"/>
          <xs:element name="fromDisplayName" type="ns8:fromDisplayName" minOccurs="0"/>
          <xs:element name="originatingCarrier" type="ns8:originatingCarrier" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="parameterManipulationKey">
    <xs:complexContent>
      <xs:extension base="ns5:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns7:subRuleKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uriParameterManipulation">
    <xs:complexContent>
      <xs:extension base="ns5:sbcEntity">
        <xs:sequence>
          <xs:element name="uriTypeBits" type="ns1:SonusUriTypeRangeBitMaskBits" minOccurs="0"/>
          <xs:element name="uriType" type="xs:string" default="toUri" minOccurs="0"/>
          <xs:element name="uriParameterManipulation" type="ns12:uriParameterManipulation" minOccurs="0"/>
          <xs:element name="userInfoManipulation" type="ns12:userInfoManipulation" minOccurs="0"/>
          <xs:element name="hostPortManipulation" type="ns12:hostPortManipulation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uriParameterManipulationKey">
    <xs:complexContent>
      <xs:extension base="ns5:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns7:subRuleKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

