src/main/resources/soap/sbcapi/v04_02_00/SBCV040200APIService_schema242.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns2="commonipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns1="sonustc.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns4="common.sbc.api.ems.sonus.com" xmlns:ns3="sonusipsignalingprofile.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns9="redirect.egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns6="signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns7="egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns10="sipheadersandparameters.egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns8="privacy.egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns11="ingressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com">

  <xs:import namespace="sonustc.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema42.xsd"/>

  <xs:import namespace="commonipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema324.xsd"/>

  <xs:import namespace="sonusipsignalingprofile.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema78.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema325.xsd"/>

  <xs:import namespace="profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema198.xsd"/>

  <xs:import namespace="signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema156.xsd"/>

  <xs:import namespace="egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema288.xsd"/>

  <xs:import namespace="privacy.egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema199.xsd"/>

  <xs:import namespace="redirect.egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema192.xsd"/>

  <xs:import namespace="sipheadersandparameters.egressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema147.xsd"/>

  <xs:import namespace="ingressipattributes.ipsignalingprofile.signaling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema254.xsd"/>

  <xs:complexType name="commonIpAttributes">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="flags" type="ns2:flags" minOccurs="0"/>
          <xs:element name="callTransferFlags" type="ns2:callTransferFlags" minOccurs="0"/>
          <xs:element name="optionTagInRequireHeader" type="ns2:optionTagInRequireHeader" minOccurs="0"/>
          <xs:element name="optionTagInSupportedHeader" type="ns2:optionTagInSupportedHeader" minOccurs="0"/>
          <xs:element name="relayFlags" type="ns2:relayFlags" minOccurs="0"/>
          <xs:element name="transparencyFlags" type="ns2:transparencyFlags" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="commonIpAttributesKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:ipSignalingProfileKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="egressIpAttributes">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="ipSignalingMimeContentType" type="ns3:sonusIpSignalingMimeContentTypeRange" default="isup" minOccurs="0"/>
          <xs:element name="ipSignalingTreatment" type="ns3:sonusIpSignalingTreatmentRange" default="interwork" minOccurs="0"/>
          <xs:element name="mimeContentTypeVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="numberGlobalizationProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="signalingQosKpiProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="mediaQosKpiProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="flags" type="ns7:flags" minOccurs="0"/>
          <xs:element name="bci" type="ns7:bci" minOccurs="0"/>
          <xs:element name="domainName" type="ns7:domainName" minOccurs="0"/>
          <xs:element name="isub" type="ns7:isub" minOccurs="0"/>
          <xs:element name="numberPortabilityAttributes" type="ns7:numberPortabilityAttributes" minOccurs="0"/>
          <xs:element name="pChargeInfo" type="ns7:pChargeInfo" minOccurs="0"/>
          <xs:element name="privacy" type="ns7:privacy" minOccurs="0"/>
          <xs:element name="redirect" type="ns7:redirect" minOccurs="0"/>
          <xs:element name="sipHeadersAndParameters" type="ns7:sipHeadersAndParameters" minOccurs="0"/>
          <xs:element name="transport" type="ns7:transport" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="egressIpAttributesKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:ipSignalingProfileKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ingressIpAttributes">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="flags" type="ns11:flags" minOccurs="0"/>
          <xs:element name="carrierInformation" type="ns11:carrierInformation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ingressIpAttributesKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:ipSignalingProfileKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

