src/main/resources/soap/sbcapi/v04_02_00/SBCV040200APIService_schema309.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns2="sonusdmpmrule.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns1="sonusorcatc.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns4="dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns3="common.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns6="digitstringmanipulation.digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com">

  <xs:import namespace="sonusorcatc.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema66.xsd"/>

  <xs:import namespace="sonusdmpmrule.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema115.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema325.xsd"/>

  <xs:import namespace="dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema299.xsd"/>

  <xs:import namespace="subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema33.xsd"/>

  <xs:import namespace="digitstringmanipulation.digitmanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema305.xsd"/>

  <xs:complexType name="numberParameterManipulation">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="natureOfAddress" type="ns1:sonusNatureOfAddressRange" default="none" minOccurs="0"/>
          <xs:element name="numberingPlanIndicator" type="ns1:sonusNumberingPlanIndicatorRange" default="none" minOccurs="0"/>
          <xs:element name="numberLength" type="xs:string" default="noInput" minOccurs="0"/>
          <xs:element name="numberLengthUnion" type="ns2:SonusNumberLengthRangeNoInputUnion" minOccurs="0"/>
          <xs:element name="presentation" type="ns2:sonusPresentationRange" default="none" minOccurs="0"/>
          <xs:element name="screening" type="ns2:sonusScreeningRange" default="none" minOccurs="0"/>
          <xs:element name="includeInEgress" type="ns2:sonusIncludeInEgressRange" default="none" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="numberParameterManipulationKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns5:digitManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="digitStringManipulation">
    <xs:complexContent>
      <xs:extension base="ns3:sbcEntity">
        <xs:sequence>
          <xs:element name="startDigitPosition" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="numberOfDigits" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="action" type="ns2:sonusActionsRange" default="none" minOccurs="0"/>
          <xs:element name="replacement" type="ns6:replacement" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="digitStringManipulationKey">
    <xs:complexContent>
      <xs:extension base="ns3:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns5:digitManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

