src/main/resources/soap/sbcapi/v04_02_00/SBCV040200APIService_schema361.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="alarms.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns2="v04_02_00.sbc.api.ems.sonus.com" xmlns:ns1="common.sbc.api.ems.sonus.com" xmlns:tns="alarms.v04_02_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema325.xsd"/>

  <xs:import namespace="v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema7.xsd"/>

  <xs:complexType name="clear">
    <xs:complexContent>
      <xs:extension base="ns1:sbcEntity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="clearKey">
    <xs:complexContent>
      <xs:extension base="ns1:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns2:alarmsKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="currentStatus">
    <xs:complexContent>
      <xs:extension base="ns1:sbcEntity">
        <xs:sequence>
          <xs:element name="alarmId" type="xs:unsignedInt" minOccurs="0"/>
          <xs:element name="clearType" type="xs:string" minOccurs="0"/>
          <xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="desc" type="xs:string" minOccurs="0"/>
          <xs:element name="reporter" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="currentStatusKey">
    <xs:complexContent>
      <xs:extension base="ns1:sbcReadOnlyKey">
        <xs:sequence>
          <xs:element name="alarmId" type="xs:long" minOccurs="0"/>
          <xs:element name="parentKey" type="ns2:alarmsKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="currentStatusListWrapper">
    <xs:complexContent>
      <xs:extension base="ns1:sbcListWrapper">
        <xs:sequence>
          <xs:element name="currentStatus" type="tns:currentStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="historyStatus">
    <xs:complexContent>
      <xs:extension base="ns1:sbcEntity">
        <xs:sequence>
          <xs:element name="alarmId" type="xs:unsignedInt" minOccurs="0"/>
          <xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="state" type="xs:string" minOccurs="0"/>
          <xs:element name="desc" type="xs:string" minOccurs="0"/>
          <xs:element name="reporter" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="historyStatusKey">
    <xs:complexContent>
      <xs:extension base="ns1:sbcReadOnlyKey">
        <xs:sequence>
          <xs:element name="alarmId" type="xs:long" minOccurs="0"/>
          <xs:element name="parentKey" type="ns2:alarmsKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="historyStatusListWrapper">
    <xs:complexContent>
      <xs:extension base="ns1:sbcListWrapper">
        <xs:sequence>
          <xs:element name="historyStatus" type="tns:historyStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

