src/main/resources/soap/sbcapi/v04_02_00/SBCV040200APIService_schema135.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns16="nattraversal.services.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns17="media.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns14="sonushornettc.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns15="services.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns9="sonussiptrunkgroup.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns12="signaling.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns13="timers.signaling.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns6="zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns10="cac.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns7="sonustc.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns11="qoe.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns8="callreservation.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns2="policy.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns1="sonusext.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns4="common.sbc.api.ems.sonus.com" xmlns:ns3="ingress.policy.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" xmlns:tns="siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com">

  <xs:import namespace="sonusext.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema108.xsd"/>

  <xs:import namespace="policy.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema204.xsd"/>

  <xs:import namespace="ingress.policy.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema256.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema325.xsd"/>

  <xs:import namespace="addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema364.xsd"/>

  <xs:import namespace="zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema1.xsd"/>

  <xs:import namespace="sonustc.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema42.xsd"/>

  <xs:import namespace="callreservation.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema346.xsd"/>

  <xs:import namespace="sonussiptrunkgroup.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema46.xsd"/>

  <xs:import namespace="cac.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema355.xsd"/>

  <xs:import namespace="qoe.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema195.xsd"/>

  <xs:import namespace="signaling.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema155.xsd"/>

  <xs:import namespace="timers.signaling.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema21.xsd"/>

  <xs:import namespace="sonushornettc.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema86.xsd"/>

  <xs:import namespace="services.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema163.xsd"/>

  <xs:import namespace="nattraversal.services.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema224.xsd"/>

  <xs:import namespace="media.siptrunkgroup.zone.addresscontext.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema232.xsd"/>

  <xs:complexType name="policy">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="carrier" type="xs:string" default="0000" minOccurs="0"/>
          <xs:element name="country" type="xs:string" default="1" minOccurs="0"/>
          <xs:element name="sipDomain" type="xs:string" minOccurs="0"/>
          <xs:element name="localizationVariant" type="ns1:sonusLocalizationVariantType" default="northAmerica" minOccurs="0"/>
          <xs:element name="tgIPVersionPreference" type="ns1:sonusIPVersionPreferenceType" default="both-ipv4-and-ipv6" minOccurs="0"/>
          <xs:element name="featureControlProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="ipSignalingPeerGroup" type="xs:string" minOccurs="0"/>
          <xs:element name="digitParameterHandling" type="ns2:digitParameterHandling" minOccurs="0"/>
          <xs:element name="callRouting" type="ns2:callRouting" minOccurs="0"/>
          <xs:element name="media" type="ns2:media" minOccurs="0"/>
          <xs:element name="services" type="ns2:services" minOccurs="0"/>
          <xs:element name="signaling" type="ns2:signaling" minOccurs="0"/>
          <xs:element name="ingress" type="ns2:ingress" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="policyKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="packetOutage">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="minimumDuration" type="xs:unsignedShort" default="6000" minOccurs="0"/>
          <xs:element name="minimumCalls" type="xs:unsignedShort" default="1000" minOccurs="0"/>
          <xs:element name="bandwidthLimitReduction" type="xs:unsignedByte" default="50" minOccurs="0"/>
          <xs:element name="detectionState" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="detectionInterval" type="xs:unsignedShort" default="15" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="packetOutageKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callReservation">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="inbound" type="xs:unsignedByte" minOccurs="0"/>
          <xs:element name="state" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="priorityCallMinimum" type="xs:unsignedInt" default="1" minOccurs="0"/>
          <xs:element name="incomingCallMinimum" type="xs:unsignedInt" default="1" minOccurs="0"/>
          <xs:element name="outgoingCallMinimum" type="xs:unsignedInt" default="10" minOccurs="0"/>
          <xs:element name="silc" type="ns8:silc" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callReservationKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cac">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="callLimit" type="xs:string" default="unlimited" minOccurs="0"/>
          <xs:element name="callLimitUnion" type="ns9:SonusTgCallLimitTypeUnion" minOccurs="0"/>
          <xs:element name="bandwidthLimit" type="xs:string" default="unlimited" minOccurs="0"/>
          <xs:element name="bandwidthLimitUnion" type="ns9:SonusTgBandwidthLimitTypeUnion" minOccurs="0"/>
          <xs:element name="callLimitThreshold" type="xs:unsignedByte" default="0" minOccurs="0"/>
          <xs:element name="bandwidthLimitThreshold" type="xs:unsignedByte" default="0" minOccurs="0"/>
          <xs:element name="emergencyOversubscription" type="xs:unsignedShort" default="10" minOccurs="0"/>
          <xs:element name="extendedEmergencyIpLimit" type="xs:unsignedShort" default="0" minOccurs="0"/>
          <xs:element name="registrationLimit" type="xs:string" default="unlimited" minOccurs="0"/>
          <xs:element name="registrationLimitUnion" type="ns9:SonusTgRegLimitTypeUnion" minOccurs="0"/>
          <xs:element name="registeredEndpointCacProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="estimatedChildRegistrations" type="xs:unsignedShort" default="1" minOccurs="0"/>
          <xs:element name="subscriptionLimit" type="xs:string" default="unlimited" minOccurs="0"/>
          <xs:element name="subscriptionLimitUnion" type="ns9:SonusTgSubsLimitTypeUnion" minOccurs="0"/>
          <xs:element name="tcpMediaLimit" type="xs:string" default="unlimited" minOccurs="0"/>
          <xs:element name="tcpMediaLimitUnion" type="ns9:SonusTgTcpMediaLimitTypeUnion" minOccurs="0"/>
          <xs:element name="ingress" type="ns10:ingress" minOccurs="0"/>
          <xs:element name="egress" type="ns10:egress" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cacKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="qoe">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="minTimeToProceed" type="xs:unsignedShort" default="60" minOccurs="0"/>
          <xs:element name="rfactor" type="ns11:rfactor" minOccurs="0"/>
          <xs:element name="asr" type="ns11:asr" minOccurs="0"/>
          <xs:element name="scru" type="ns11:scru" minOccurs="0"/>
          <xs:element name="clu" type="ns11:clu" minOccurs="0"/>
          <xs:element name="pgrd" type="ns11:pgrd" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="qoeKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="signaling">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="accessClass" type="ns9:sonusSipSigTrunkGroupAccessClassType" default="none" minOccurs="0"/>
          <xs:element name="routeMsgValidation" type="ns9:sonusSipSigTrunkGroupRouteMsgValidationType" default="noValidation" minOccurs="0"/>
          <xs:element name="maxFwdsDefault" type="xs:unsignedByte" default="70" minOccurs="0"/>
          <xs:element name="backwardInfoMsgConDialog" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="isupMimeBodyRelay" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="rel100Support" type="ns9:sonusSipSigTrunkGroup100RelSupportType" default="enabled" minOccurs="0"/>
          <xs:element name="prefRequireTransparency" type="ns9:sonusSipSigTrunkGroupPrefRequireTransparencyType" default="disabled" minOccurs="0"/>
          <xs:element name="privacyParamRestricted" type="ns9:sonusSipSigTrunkGroupPrivacyParamRestrictedType" default="default" minOccurs="0"/>
          <xs:element name="relayNonInviteRequest" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="relayUpdatewithSdp" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="interOperatorID" type="xs:string" minOccurs="0"/>
          <xs:element name="uriPreference" type="ns9:sonusSipSigTrunkGroupURIPreferenceType" default="none" minOccurs="0"/>
          <xs:element name="strictParse" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="skipDTGLookupForRouteHdr" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="processTgrpContext" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="isubParamPreference" type="ns9:sonusSipSigTrunkGroupIsubParamPreferenceType" default="rfc2806" minOccurs="0"/>
          <xs:element name="variantType" type="ns9:sonusSipSigTrunkGroupVariantTypeType" default="sonus" minOccurs="0"/>
          <xs:element name="factorValue" type="xs:unsignedByte" default="1" minOccurs="0"/>
          <xs:element name="localNumberSupport" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="disableTermIOIForPcscf" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="deRegParentWithChildDereg" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="usePSXRouteAsReqUriInReg" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="psxRouteForSubscribe" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="defaultCallingPartyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="validateAor" type="ns7:sonusAdminState" default="enabled" minOccurs="0"/>
          <xs:element name="sourceAddressValidation" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="condIncMethInAllowHdr" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="acceptHistoryInfo" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="egressCallIdStaticString" type="xs:string" default="-" minOccurs="0"/>
          <xs:element name="allowByeChallenge" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="enforceTlsIfSipsUriScheme" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="enforceSipsIfEgressIsTls" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="usePsxRouteForEmergencyCall" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="ocsSupport" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="relayReplacesHeader" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="feidForPDCS" type="xs:string" minOccurs="0"/>
          <xs:element name="sendSdpToPsx" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="useGAPwhenRnDisabled" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="support199OptionTag" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="keepSupport" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="outboundSupport" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="silenceSuppTreatment" type="ns9:sonusSipSigTrunkGroupSilenceSuppTreatmentType" default="treatAsFaxTransmissionIndication" minOccurs="0"/>
          <xs:element name="rfc3261ValidateCSeqInBYE" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="rfc3261ValidateInvite200OkRetransmissions" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="useRandomUserInfoInContactHdr" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="suppressNonRouteInviteResponse" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="usePcfaCcf" type="ns9:sonusSipSigTrunkGroupUsePcfaCcfType" default="disabled" minOccurs="0"/>
          <xs:element name="callingParty" type="ns12:callingParty" minOccurs="0"/>
          <xs:element name="TCPFallback" type="ns12:TCPFallback" minOccurs="0"/>
          <xs:element name="P-HeaderExtensions" type="ns12:P-HeaderExtensions" minOccurs="0"/>
          <xs:element name="sdpTransparency" type="ns12:sdpTransparency" minOccurs="0"/>
          <xs:element name="messageManipulation" type="ns12:messageManipulation" minOccurs="0"/>
          <xs:element name="causeCodeMapping" type="ns12:causeCodeMapping" minOccurs="0"/>
          <xs:element name="methods" type="ns12:methods" minOccurs="0"/>
          <xs:element name="retryCounters" type="ns12:retryCounters" minOccurs="0"/>
          <xs:element name="timers" type="ns12:timers" minOccurs="0"/>
          <xs:element name="registration" type="ns12:registration" minOccurs="0"/>
          <xs:element name="transportPreference" type="ns12:transportPreference" minOccurs="0"/>
          <xs:element name="E164Profiles" type="ns12:E164Profiles" minOccurs="0"/>
          <xs:element name="X-Headers" type="ns12:X-Headers" minOccurs="0"/>
          <xs:element name="postDialDelay" type="ns12:postDialDelay" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="signalingKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="services">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="dnsSupportType" type="ns9:sonusSipSigTrunkGroupDnsSupportTypeType" default="a-only" minOccurs="0"/>
          <xs:element name="preconditions" type="ns9:sonusSipSigTrunkGroupReceivePreconditionsType" default="none" minOccurs="0"/>
          <xs:element name="transmitPreconditions" type="ns9:sonusSipSigTrunkGroupTransmitPreconditionsType" default="supported" minOccurs="0"/>
          <xs:element name="preconditionIntwkUsing183" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="honorSdpClockRate" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="sipArsProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="disconnectTreatmentProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="emergencyCallProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="sipSecurityProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="dynamicBlacklistProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="emergencyCallHandlingMode" type="ns9:sonusSipSigTrunkGroupEmergencyCallHandlingMode" default="none" minOccurs="0"/>
          <xs:element name="jsrcBandwidthReservation" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="remoteEPreservation" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="sipJipProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="sipJurisdictionSupport" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="transparencyProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="overlapAddressing" type="ns15:overlapAddressing" minOccurs="0"/>
          <xs:element name="longDurationCall" type="ns15:longDurationCall" minOccurs="0"/>
          <xs:element name="natTraversal" type="ns15:natTraversal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="servicesKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="media">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="dataPathModePassthru" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="directMediaAllowed" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="directMediaAllowedBehindNapt" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="directMediaAntiTrombone" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="directMediaGroupId" type="xs:unsignedShort" default="0" minOccurs="0"/>
          <xs:element name="lateMediaSupport" type="ns9:sonusSipSigTrunkGroupLateMediaSupportType" default="convert" minOccurs="0"/>
          <xs:element name="maxPtimeDefault" type="xs:unsignedByte" default="150" minOccurs="0"/>
          <xs:element name="comediaConnectionRole" type="ns9:sonusSipSigTrunkGroupComediaConnectionRoleType" default="none" minOccurs="0"/>
          <xs:element name="tmr64K" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="mediaIpInterfaceGroupName" type="xs:string" minOccurs="0"/>
          <xs:element name="sourceAddressFiltering" type="ns7:sonusAdminState" default="enabled" minOccurs="0"/>
          <xs:element name="mediaAddrType" type="ns9:sonusMediaIpAddressType" default="matchSigAddrType" minOccurs="0"/>
          <xs:element name="recordable" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="sdpAttributesSelectiveRelay" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="msrp" type="ns7:sonusAdminState" default="enabled" minOccurs="0"/>
          <xs:element name="anat" type="ns17:anat" minOccurs="0"/>
          <xs:element name="earlyMedia" type="ns17:earlyMedia" minOccurs="0"/>
          <xs:element name="pcrf" type="ns17:pcrf" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="mediaKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callRouting">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="useRouteSet" type="ns9:sonusSipSigTrunkGroupUseRouteSetType" default="disabled" minOccurs="0"/>
          <xs:element name="ansSupervisionTimeout" type="xs:unsignedShort" default="300" minOccurs="0"/>
          <xs:element name="ansSupervisionTimeoutAction" type="ns9:sonusSipSigTrunkGroupAnsSupervisionTimeoutActionType" default="release" minOccurs="0"/>
          <xs:element name="crankBackProfile" type="xs:string" minOccurs="0"/>
          <xs:element name="internationalNoaPlus" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="addStoredPathAsTopRoute" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="dnsCrankback" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callRoutingKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="congestionHandling">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="egressThrottling" type="ns7:sonusAdminState" default="disabled" minOccurs="0"/>
          <xs:element name="retryAfterMin" type="xs:unsignedByte" default="10" minOccurs="0"/>
          <xs:element name="retryAfterMax" type="xs:unsignedByte" default="30" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="congestionHandlingKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ingressIpPrefix">
    <xs:complexContent>
      <xs:extension base="ns4:sbcEntity">
        <xs:sequence>
          <xs:element name="ipAddress" type="xs:string" minOccurs="0"/>
          <xs:element name="prefixLength" type="xs:unsignedInt" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ingressIpPrefixKey">
    <xs:complexContent>
      <xs:extension base="ns4:sbcKey">
        <xs:sequence>
          <xs:element name="ipAddress" type="xs:string" minOccurs="0"/>
          <xs:element name="prefixLength" type="xs:long" minOccurs="0"/>
          <xs:element name="parentKey" type="ns6:sipTrunkGroupKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ingressIpPrefixListWrapper">
    <xs:complexContent>
      <xs:extension base="ns4:sbcListWrapper">
        <xs:sequence>
          <xs:element name="ingressIpPrefix" type="tns:ingressIpPrefix" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

