src/main/resources/soap/sbcapi/v04_02_00/SBCV040200APIService_schema142.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="sipresourcepriorityheaderprofile.services.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns2="profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns1="common.sbc.api.ems.sonus.com" xmlns:ns3="services.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:tns="sipresourcepriorityheaderprofile.services.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema325.xsd"/>

  <xs:import namespace="profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema198.xsd"/>

  <xs:import namespace="services.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema164.xsd"/>

  <xs:complexType name="rphEmergencyMatchingConfig">
    <xs:complexContent>
      <xs:extension base="ns1:sbcEntity">
        <xs:sequence>
          <xs:element name="namespace" type="xs:string" minOccurs="0"/>
          <xs:element name="r-priority" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rphEmergencyMatchingConfigKey">
    <xs:complexContent>
      <xs:extension base="ns1:sbcKey">
        <xs:sequence>
          <xs:element name="namespace" type="xs:string" minOccurs="0"/>
          <xs:element name="r_priority" type="xs:string" minOccurs="0"/>
          <xs:element name="parentKey" type="ns3:sipResourcePriorityHeaderProfileKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rphEmergencyMatchingConfigListWrapper">
    <xs:complexContent>
      <xs:extension base="ns1:sbcListWrapper">
        <xs:sequence>
          <xs:element name="rphEmergencyMatchingConfig" type="tns:rphEmergencyMatchingConfig" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sendEgressRphForEmergency">
    <xs:complexContent>
      <xs:extension base="ns1:sbcEntity">
        <xs:sequence>
          <xs:element name="egressNamespace" type="xs:string" minOccurs="0"/>
          <xs:element name="egressR-priority" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sendEgressRphForEmergencyKey">
    <xs:complexContent>
      <xs:extension base="ns1:sbcKey">
        <xs:sequence>
          <xs:element name="egressNamespace" type="xs:string" minOccurs="0"/>
          <xs:element name="egressR_priority" type="xs:string" minOccurs="0"/>
          <xs:element name="parentKey" type="ns3:sipResourcePriorityHeaderProfileKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sendEgressRphForEmergencyListWrapper">
    <xs:complexContent>
      <xs:extension base="ns1:sbcListWrapper">
        <xs:sequence>
          <xs:element name="sendEgressRphForEmergency" type="tns:sendEgressRphForEmergency" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

