src/main/resources/soap/sbcapi/v04_02_00/SBCV040200APIService_schema210.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns2="common.sbc.api.ems.sonus.com" xmlns:ns1="sonusorcatc.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns4="subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns3="dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="sonusdmpmrule.types.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns6="carriercode.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns7="forwardcallindicator.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" xmlns:ns8="charactermanipulation.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com">

  <xs:import namespace="sonusorcatc.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema66.xsd"/>

  <xs:import namespace="common.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema325.xsd"/>

  <xs:import namespace="dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema299.xsd"/>

  <xs:import namespace="subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema33.xsd"/>

  <xs:import namespace="sonusdmpmrule.types.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema115.xsd"/>

  <xs:import namespace="carriercode.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema340.xsd"/>

  <xs:import namespace="forwardcallindicator.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema274.xsd"/>

  <xs:import namespace="charactermanipulation.parametermanipulation.subrule.dmpmrule.digitparameterhandling.profiles.v04_02_00.sbc.api.ems.sonus.com" schemaLocation="SBCV040200APIService_schema334.xsd"/>

  <xs:complexType name="additionalCategory">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="userName" type="ns1:sonusNameRange" default="mobile1" minOccurs="0"/>
          <xs:element name="informationMobile2" type="ns1:sonusInformationMobile2Range" default="any" minOccurs="0"/>
          <xs:element name="informationMobile1" type="ns1:sonusInformationMobile1Range" default="any" minOccurs="0"/>
          <xs:element name="informationPstn1" type="ns1:sonusInformationPstn1Range" default="any" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="additionalCategoryKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callingName">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="callingNameGeneric" type="xs:string" minOccurs="0"/>
          <xs:element name="presentation" type="ns5:sonusCallingPresentationRange" default="none" minOccurs="0"/>
          <xs:element name="typeOfName" type="ns5:sonusTypeOfNameRange" default="none" minOccurs="0"/>
          <xs:element name="availability" type="ns5:sonusAvailabilityRange" default="no" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="callingNameKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="carrierCode">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="networkIdPlan" type="ns1:sonusNetworkIdPlanRange" default="none" minOccurs="0"/>
          <xs:element name="networkIdType" type="ns1:sonusNetworkIdTypeRange" default="none" minOccurs="0"/>
          <xs:element name="circuitCode" type="ns1:sonusCircuitCodeRange" default="none" minOccurs="0"/>
          <xs:element name="includeInEgressFlag" type="ns5:sonusIncludeInEgressFlagRange" default="none" minOccurs="0"/>
          <xs:element name="presubscriptionIndicator" type="ns5:sonusYesNoNoneRange" default="none" minOccurs="0"/>
          <xs:element name="carrierCodeDigitMatch" type="ns6:carrierCodeDigitMatch" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="carrierCodeKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="carrierSelectionParameter">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="carrierSelection" type="ns1:sonusCarrierSelectionRange" default="noIndication" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="carrierSelectionParameterKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="causeOfNoId">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="matchNumber" type="ns1:sonusMatchNumberRange" default="coinPhone" minOccurs="0"/>
          <xs:element name="includeInEgressFlag" type="ns5:sonusIncludeInEgressFlagRange" default="none" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="causeOfNoIdKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="flags">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="discardChargeParametersFromBackwardMessages" type="ns5:sonusDiscardChargeParametersEnableDisable" default="disable" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="flagsKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cpc">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="callingPartyCategory" type="ns1:sonusCallingPartyCategoryRange" default="ansiSpare1" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cpcKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="forwardCallIndicator">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="forwardCallIndicator" type="ns7:forwardCallIndicator" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="forwardCallIndicatorKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="characterManipulation">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="startCharacterPosition" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="numberOfCharacters" type="xs:unsignedInt" default="0" minOccurs="0"/>
          <xs:element name="replacement" type="ns8:replacement" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="characterManipulationKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fromDisplayName">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="presentation" type="ns5:sonusPresentationRange" default="allowed" minOccurs="0"/>
          <xs:element name="availability" type="ns5:sonusAvailabilityRange" default="no" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fromDisplayNameKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="originatingCarrier">
    <xs:complexContent>
      <xs:extension base="ns2:sbcEntity">
        <xs:sequence>
          <xs:element name="originatingCarrier" type="xs:string" minOccurs="0"/>
          <xs:element name="poiChargeArea" type="xs:string" minOccurs="0"/>
          <xs:element name="poiLevel" type="ns5:sonusPoiLevelRange" default="0" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="originatingCarrierKey">
    <xs:complexContent>
      <xs:extension base="ns2:sbcUnCreatableKey">
        <xs:sequence>
          <xs:element name="parentKey" type="ns4:parameterManipulationKey" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

